#home {
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.tippy-box {
  background-color: white !important;
  color: black !important;
  font-size: small !important;
  border-radius: 15px !important;
}

.tippy-arrow {
  color: white !important;
}
